* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../asset/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  width: "300px";
  height: "400px";
  text-align: center;
  padding-left: 130px;
}

button {
  font-size: 20px;
  background-color: rgba(7, 164, 236, 0.3);
  border: 2px solid rgba(30, 20, 10, 0.3);
  box-shadow: 1px 1px 0 rgb(248, 247, 246);
  border-radius: 20px;
  margin-top: 500px;
  margin-left: 180px;
  width: 100px;
  height: 40px;
}
button:hover {
  box-shadow: 1px 1px 0 rgb(135, 170, 240);
}
